{% extends "blog/base.html"%}
{%load static%}
{%block content%}
<div class="container background_v1" >
<h1>Czaty</h1>
    {%for chat in chats%}
        <div class="all_chats_chat row">
            {%for chat_user in chat.users.all%}
                {%if not chat_user == user.profile%}
                    {%for image in chat_user.images.all%}   
                        {%if forloop.last%}
                        <div style="position:relative;" class="all_chats_image_box col-md-4"> 
                            <img src="{{image.image.url}}"  class="all_chats_image"/>
                            <div class="all_chats_fake_box"></div>
                        </div>
                        {%endif%}
                    {%empty%}
                    <div style="position:relative;" class="all_chats_image_box col-md-4"> 
                        <img src="{% static 'user.png' %}" class="all_chats_image" >
                        <div class="all_chats_fake_box"></div>
                    </div>
                    {%endfor%}
                    <div class="col-md-9">
                        <h1 class="all_chats_name"> {{chat_user.get_name}}</h1>
                        <div class='all_chats_lastmessage'>
                        {%if not chat.get_last_message.owner == user.profile and not chat.get_last_message.displayed%}
                        <div style="color:red;"><i class="fa fa-envelope" aria-hidden="true"></i> {{chat.get_last_message|truncatechars:70 }}</div>
                        {%else%}
                        {{chat.get_last_message|truncatechars:70 }}
                        {%endif%}
                        </div>
                        <a href="{% url 'chat' chat.id%}" style="width:90%; margin:20px;" class="btn btn-dark">Czat</a>
                    </div>
                {%endif%}
            {%endfor%}
        </div>
    {%endfor%}
</div>
{% endblock %}