{% extends "blog/base.html"%}
{%load static%}
{%block content%}
<div class="container background_v1" style="color:white">
{% include 'blog/_messages.html'%}
    <h1>Zmień hasło</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="form-control">Zmień hasło</button>
    </form>
    <br />
    <ul>
        <li>Twoje hasło nie może być zbyt podobne do Twoich innych danych osobowych.</li>
        <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li>
        <li>Twoje hasło nie może być hasłem powszechnie używanym.</li>
        <li>Twoje hasło nie może składać się wyłącznie z liczb.</li>
    </ul>
</div>
{% endblock %}