
{% extends "blog/base.html"%}
{% load static %}
{%block content%}
{% if user.is_authenticated%}

<div class=" background_v1">
    <div class="row">
    {% for profile in profiles%}
        
        <div class="col-sm-12 col-md-6  col-lg-4 col-xl-3" >
            <div class="card main_page_card" style="margin-top: 10px;">
                <div class="card-body">
                {% if profile.images%}
                <div style="width: 100%; position:relative;">
                    {%for image in profile.images.all %}
                        {% if forloop.last %}
                            <img src="{{image.image.url}}" class="profile_image">
                            <div class="fake_box"> </div>
                            <br />
                        {%endif%}
                    {%empty%}
                          <img src="{% static 'user.png' %}" class="profile_image">
                          <div class="fake_box"> </div>
                        <br />  
                    {%endfor%}
                </div>
                {%endif%}
                
                <h5 class="card-title">
                {{profile.get_name}}
                
                {% if not profile.gender == None%}
                <small>({{profile.gender}})</small>
                {%endif%}
                </h5>
                <p class="card-text">Wiek: {{profile.get_age}} lat</p>
                <p class="card-text main_page_desc" >
                {% if profile.description %}
                    {{profile.description|truncatechars:70}}
                    {% else %}
                    Brak opisu
                {%  endif   %}
                </p>
                <a href="{%url 'profile' profile.id%}"  class="my-button">Zobacz pełny profil</a>
                </div>
            </div>
        </div>
        
    {%endfor%}
    </div>
    <div class="pagination row">
        {% if profiles.has_previous %}
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light"
             href="?page=1">&laquo; Pierwsze</a>
            </div>
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light"  
            href="?page={{ profiles.previous_page_number }}">Poprzednie</a>
            </div>
        {%else%}
            <div class="pagination_obj col-md-12 col-lg-2" style="height:1px;"></div>
            <div class="pagination_obj col-md-12 col-lg-2" style="height:1px;"></div>
        {% endif %}

        <div class="pagiantion_obj pagination_number col-sm-12 col-md-4" >
            Strona {{ profiles.number }} z {{ profiles.paginator.num_pages }}.
        </div>

        {% if profiles.has_next %}
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light pagiantion_obj" 
            href="?page={{ profiles.next_page_number }}">Następne</a>
            </div>
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light pagiantion_obj" 
            href="?page={{ profiles.paginator.num_pages }}">Ostatnie &raquo;</a>
             </div>
        {% endif %}
    
</div>
</div>
    {%else%}
    <div class="main_page_reg main_page_mess"> 
    Nie masz konta? <a  href="{% url 'registration' %}">ZAREJESTRUJ SIĘ</a>
    już teraz. Konta na tej platformie są w pełni darmowe.
    </div>     
    <div class="main_page_log main_page_mess"> 
    Masz już konto? <a href="{% url 'login_to_blog' %}">ZALOGUJ SIĘ</a>
    </div>
    <div class="main_page_info main_page_mess"> 
        Jako zalogowany użytkownik będziesz mógł: <br />
            - Poznawać nowych znajomych.<br />
            - Pisać posty.<br />
            - Chatować ze znajomymi.<br />

    </div>
    {%endif%}
{% endblock %}

