{% extends "blog/base.html"%}
{%load static%}
{%block content%}
<div class="background_v1" >
    {% include 'blog/_messages.html'%}
    <div class="row">
        <div class="col-sm-12 col-md-2"><h1 style="color:white;">Posty</h1></div>
        <div class="col-sm-12 col-md-10">
        <form action="{% url 'posts' %}"method="POST" class="form-control">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Tytuł lub fragment post" class="form-control"/>
            <select name="title2" class="form-control">
                <option value="title" class="form-control">Tytuł</option>
                <option value="text" class="form-control">Tekst</option>
            </select>
            <button type="submit" class="form-control btn btn-dark">Szukaj</button>
        </form>
        </div>
    </div>
    <div class="profile_posts_box2" >
        {%for post in posts%}
            <div class="profile_post">
                 <div class="profile_post_title">
                    <div class="row">
                        <div class="col-sm-6">
                        <a href="{%url 'profile' post.owner.id %}" 
                        class="my-button" style="margin-top:5px;"
                        >{{post.owner.get_name}}</a>
                        </div>
                        <div class="col-sm-6">
                        <a href="{%url 'post' post.id %}" style="margin-top:5px;"
                        class="my-button" >Zobacz cały post</a>
                        </div>
                    </div>
                </div>
                <div class="profile_post_date">{{post.date| date:"d.n.Y"}}r.</div>
                 <hr />
                <div class="profile_post_title">{{post.title}}</div>
                <div class="profile_post_text">{{post.text}}</div>
            </div>
        {%endfor%}
    </div>
    <div class="pagination row">
        {% if posts.has_previous %}
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light"
             href="?page=1">&laquo; Pierwsze</a>
            </div>
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light"  
            href="?page={{ posts.previous_page_number }}">Poprzednie</a>
            </div>
        {%else%}
            <div class="pagination_obj col-md-12 col-lg-2" style="height:1px;"></div>
            <div class="pagination_obj col-md-12 col-lg-2" style="height:1px;"></div>
        {% endif %}

        <div class="pagiantion_obj pagination_number col-sm-12 col-md-4" >
            Strona {{ posts.number }} z {{ posts.paginator.num_pages }}.
        </div>

        {% if posts.has_next %}
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light pagiantion_obj" 
            href="?page={{ posts.next_page_number }}">Następne</a>
            </div>
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light pagiantion_obj" 
            href="?page={{ posts.paginator.num_pages }}">Ostatnie &raquo;</a>
             </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}