{% extends "blog/base.html"%}
{%load static%}
{%block content%}
<div class="container background_v1" style="color:white;">
    {% include 'blog/_messages.html'%}
    <h1 style="color:white;">Posty</h1>
    <div class="profile_posts_box2" style="color:black;">
        {%for post in posts%}
            <div class="profile_post">
                 <div class="profile_post_title">
                 <a href="{%url 'profile' post.owner.id %}" 
                 class="my-button" style="width:25%;"
                 >{{post.owner.get_name}}</a>
                 <a href="{%url 'post' post.id %}" 
                 class="my-button" style="width:25%;"
                 >Zobacz cały post</a>
                 </div>
                <div class="profile_post_date">{{post.date| date:"d.n.Y"}}r.</div>
                 <hr />
                <div class="profile_post_title">{{post.title}}</div>
                <div class="profile_post_text">{{post.text}}</div>
            </div>
        {%endfor%}
    <div>
    <div class="pagination row">
        {% if posts.has_previous %}
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light"
             href="?page=1">&laquo; Pierwsze</a>
            </div>
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light"  
            href="?page={{ posts.previous_page_number }}">Poprzednie</a>
            </div>
        {%else%}
            <div class="pagination_obj col-md-12 col-lg-2" style="height:1px;"></div>
            <div class="pagination_obj col-md-12 col-lg-2" style="height:1px;"></div>
        {% endif %}

        <div class="pagiantion_obj pagination_number col-sm-12 col-md-4" >
            Strona {{ posts.number }} z {{ posts.paginator.num_pages }}.
        </div>

        {% if posts.has_next %}
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light pagiantion_obj" 
            href="?page={{ posts.next_page_number }}">Następne</a>
            </div>
            <div class="col-md-12 col-lg-2">
            <a class="pagiantion_obj btn btn-light pagiantion_obj" 
            href="?page={{ posts.paginator.num_pages }}">Ostatnie &raquo;</a>
             </div>
        {% endif %}
    
    </div>
</div>
{% endblock %}