{% extends "blog/base.html"%}
{%block content%}
{% include 'blog/_messages.html'%}
<div>
    {%if error%}
    {{error}}
    {%endif%}
    <div class="main_page_mess main_page_reg_r main_page_reg_1">
        <h1>Rejestracja</h1>
    </div>
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        <div class="main_page_mess main_page_reg_l main_page_reg_2"> 
            <input 
                style="margin:10px;"
                class="form-control"
                type="text"
                name="username"
                placeholder="Nazwa"
                id="usernameField" />
            <input
                style="margin:10px;"
                class="form-control"
                type="email"
                name="email"
                placeholder="Email"
                id="emailField"/>
            <input 
                style="margin:10px;"
                class="form-control"
                type="password"
                name="password"
                placeholder="Hasło"
                id="passwordField"/>
            <input 
                style="margin:10px;"
                class="form-control"
                type="date"
                name="date"
                placeholder="Data Urodzenia"
                id="birthdateField"/>
        </div>
        <div class="main_page_mess main_page_reg_r main_page_reg_3"> 
            <button 
                style="margin:10px; font-size:35px;"
                type="submit" 
                value="Register" 
                class="btn btn-dark"> Zarejestruj </button>
        </div>
    </form>

    <div class="main_page_mess main_page_reg_l main_page_reg_4"> 
        <a href="{% url 'social:begin' 'facebook' %}">
            <div class="fb">
                Zarejestruj się za pomocą Facebook'a
            </div>
        </a>
    </div>
</div>
{% endblock %}