
.main_content{
    position:relative;
    width:100%;
    min-height: 100vh;
    z-index: 2;
    background: rgb(6, 22, 44);
    transition: 0.6s;
    padding:20px;
}
.toggle{
    z-index: 34000;
	position:fixed;
	top:30px;
	right:30px;
	width:50px;
	height:50px;
	cursor:pointer;  
}

.toggle:before{
	content:'';
	position:absolute;
	width: 100%;
	top:7px;
	height: 2px;
	background-color: #fff;
}

.toggle:after{
	content:'';
	position:absolute;
	width: 100%;
	bottom:7px;
	height: 2px;
	background-color: #fff;
}

.main_content.active{
	transform: translate(-400px);
}

.main_content.active .toggle:before{
	top:50%;
	left:50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.main_content.active .toggle:after{
	top:50%;
	left:50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.main_content.active{
	transform: translate(-400px);
}

#navigation_main{
	position:fixed;
	top:0;
	right:0px;
	width:400px;
	height:100vh;
	background: #40c3ff;
	z-index: 1;
	display:grid;
	place-items: center;
	transition: 0.5s;
}

.toggle2{
    z-index: 34000;
	position:fixed;
	top:30px;
	right:30px;
	width:50px;
	height:50px;
	cursor:pointer;  
}
.toggle2:before{
	content:'';
	position:absolute;
	width: 100%;
	top:7px;
	height: 2px;
	background-color: #fff;
}

.toggle2:after{
	content:'';
	position:absolute;
	width: 100%;
	bottom:7px;
	height: 2px;
	background-color: #fff;

}

.toggle2:before{
	top:50%;
	left:50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.toggle2:after{
	top:50%;
	left:50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

#navigation_main>ul>li{
    list-style-type: none;
}
#navigation_main>ul>li>a{
    background-color: blue;
    border: 3px blue solid;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    color:white;
    border-radius: 20px 0px 20px 20px;
}


#navigation_main>ul>li>a:hover{
    background-color: rgb(78, 78, 243);
    border: 3px white solid;

}