*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

:root {
    --ramka: rgb(0, 164, 240);
    --message-button: rgb(17, 0, 255);
    --background: black;
    --h: white;
    --body-text: white;
    --card-title: rgb(255, 255, 255);
    --card-body: rgb(68, 0, 255);
    --my-message: rgb(0, 34, 128);
    --other-message: rgb(0, 195, 255);
    --main-p-desc:rgba(2, 30, 121, 0.9);
    --bg-v1:rgba(0, 0, 0, 0.4);
    --btn-text: white;
    --btn-hover: crimson;
    --btn-border:black;
    --btn-bg: black;
    --profile:rgba(2, 30, 121, 0.9);
    --all-chats-chat:white;
    --last-message: rgb(68, 0, 255);
    --profile-posts-box:rgba(0, 0, 0, 0.4);

  }

body{
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--background);
    color: var(--body-text);
    
}
.card-body{
    background-color: var(--card-body)!important;
}
.card-text{
    color:white!important;
}
.navbar{
    position: fixed;
    top:0;
    z-index: 555;
    width: 100%;
}
.friend{
    font-size: 5vh;
}

h1,h2,h3,h4,h5{
    color:var(--h);
    
}

.card-title{
    color: var(--card-title) !important;
}
.my_message{
    background-color: var(--my-message); 
    margin-top: 3px;
    text-align: right;
    border-radius: 20px 0px 20px 20px;
}
.other_message{
    background-color: var(--other-message); 
    margin-top: 3px;
    border-radius: 20px 20px 20px 0px;
}

.profile_image{
    width: 100%;
    max-height: 500px;
    position: absolute;
    clip: rect(0px, auto, 300px, 0px);
}


.main_page_card{
    width: 100%;
    
}
.chat_message{
    word-wrap: break-word;
    padding: 12px;
    
}
#message_input{
    height: 50px;

}
#message_button{
    background: var(--message-button);
    color: var(--btn-text);
    border: solid 3px var(--btn-text);
    height: 50px;
}

.background_v1{
    border: solid 2px var(--ramka);
    padding: 25px;
    background-color: var(--bg-v1); 
    min-height: 800px;
    width: 96%;
   
    
}
.fake_box{
    width:300px;
    height: 276px;
}

.main_page_desc{
    background-color: var(--main-p-desc) !important;
    padding:5px;
    height:120px;
}

.profile_image_class{
    margin-top: 10px;
    border:solid 2px var(--ramka);
    width:100%;
    background-color: var(--profile);
}

.profile_info{
    border:solid 2px  var(--ramka);
    margin-top: 10px;
    width:100%;
    background-color: var(--profile);
    word-wrap: break-word;
   
}
#info{
    margin-top:10px;
    background-color: var(--ramka);
    color:var(--h);
    padding:5px;
    display: none;
}

.profile_buttons{
    border:solid 2px  var(--ramka);
    margin-top: 10px;
    background-color: var(--profile);
    width:100%;
    
}
.btn{
    width:100%;
}
.profile_images_css{
    border:solid 2px  var(--ramka);
    margin-top: 10px;
    background-color: var(--profile);
    width:100%;
    
}

.mini_fake_box{
    width:100%;
    height: 100px;
}

.mini_profile_image{
    width: 100%;
    max-height: auto;
    position: absolute;
    clip: rect(0px, auto, 100px, 0px); 
}
#images_button{
    margin:2%;
    width:96%;
}
#images_profile_box{
    display: flex;
    
}
#friends_profile_box{
    display: flex;
}
#friends_button{
    margin:2%;
    width:96%;
}
@media only screen and (max-width: 768px) {
    .mini_profile_image {
        clip: rect(0px, auto, 300px, 0px);
    }
    .mini_fake_box{
        height: 300px;
    }
    .row{
        padding-left: 0;
        padding-right: 0;
    }
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
  }
  
.fake_box_2{
    height:300px;
  }
.all_chats_chat{
    border:solid 2px  var(--ramka);
    background-color: var(--all-chats-chat);
    width:100%;
    min-height: 300px;
    padding:10px;
    margin-top:10px;
    
}
.all_chats_image_box{
    margin-top: 10px;
    width:25%;
    background-color: var(--all-chats-chat); 
    
}
.all_chats_image{
    width:100%;
    position: absolute;
    clip: rect(0px, auto, 230px, 0px);
    
}
.all_chats_fake_box{
    height: 230px;
    
}

.all_chats_name{
    color:black;
    padding:10px
}
.all_chats_lastmessage{
    width:90%;
    background-color: var(--last-message);
    word-break: break-all;
    margin:20px;
    padding:5px;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .all_chats_image_box{
        width:96%;
    }

}

.profile_posts_box{
    width:100%;
    
    border:solid 2px  var(--ramka);
    margin-top: 10px;
    background-color: var(--profile-posts-box);
    padding:5px;
}
.profile_posts_box2{
    width:100%;
    margin-top: 10px;
    padding:5px;
}

.profile_post{
    width:100%;
    height:77%;
    padding:5px;
    margin-top: 15px;
    border:solid 1px  var(--ramka);
    background-color:var(--profile);
}
.profile_post_title{
    font-size: 20px;
}
.profile_post_date{
    font-size: 13px;
}
.profile_post_text{
    padding:20px;
}

.profile_posts_box_2{
    width:100%;
    height:77%;
    border:solid 2px  var(--ramka);
    margin-top: 10px;
    background-color: var(--profile);
    padding:5px;
}
.my-button{
    display: inline-block;
    text-align: center;
    padding:5px;
    background-color:var(--btn-bg);
    border:none;
    color:var(--btn-text);
    font-size: 20px;
    transition: background-color 1s, color 1s;
    text-decoration: none;
    width: 100%;
    border: solid 1px var(--btn-border);
}
.my-button:hover{
    background-color:var(--ramka);
    color:var(--btn-text);
    border: solid 1px var(--btn-border);
}
.my-button:focus{
    outline:none;
    background-color: var(--btn-hover);
    color:var(--btn-text);
}
.my_button:visited{
    text-decoration: none;
}

.post_details{
    width:100%;
    min-height: 350px;
    background-color: var(--profile);
    border:solid 2px  var(--ramka);
    padding:10px;
    position: relative;
}
.mini_post_image{
    width: 100%;
    max-height: auto;
    position: absolute;
    clip: rect(0px, auto,300px, 0px); 
}
.post_text{
    word-break: break-word;
    margin-top:50px;
    padding:10px;
    margin-left:300px;
}
@media only screen and (max-width: 990px) {
    .post_text{
        margin-top:10px;
        margin-left:10px;
    }

}
.post_link{
    color:white;
    text-decoration: none;
    border-radius: 5px;
}
.post_link:hover{
    background-color: var(--btn-bg);
    color:white;
}

.post_comments{
    width:100%;
    background-color: var(--profile);
    border:solid 2px  var(--ramka);
    padding:10px;
    word-break:break-all;
    display: inline-block;
   
}

#comment_button{
    background-color: var(--btn-bg);
    color:var(--btn-text);
}
input:focus{
    outline:none;
}

.normal_link{
    color:white;
    text-decoration: none;
    transition: 0.8s;
}
.normal_link:hover{
    color:rgb(241, 248, 140);
    font-size:2em;
    text-decoration: none;
}
.pagination{
    margin-top: 10px;
}
.pagination_links{
    width:100%;
    
    position: relative;
}

.pagination_number{
    background-color: var(--btn-bg);
    color:var(--btn-text);
    text-align: center;
   
    
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 30px;
    border: 1px solid var(--ramka);
    width: 70%; 
  }
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: var(--ramka);
    text-decoration: none;
    cursor: pointer;
  }

form ul{
  display: none;
}

.fb, .fb:visited{
    background-color:#3b5998;
    border:2px #3b5998 solid;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

 .fb:hover{
    background-color:#293e6a;
    border:2px white solid;
}


.main_page_mess{
    border: 5px solid white;
    padding:20px;
    background-color: rgb(0, 58, 134);
    width: 40%;
    visibility: hidden;
    
}
.main_page_reg{
    font-size: 35px;
    margin-bottom: 100px;
    border-radius: 40px 40px 40px 0px;
    margin: 30px;
    animation: 1s ease-out 1s 1 slideInFromLeft forwards;
}
.main_page_log{
    margin: 30px;
    font-size: 40px;
    float: right;
    border-radius: 40px 40px 0px 40px;  
    animation: 1s ease-out 2s 1 slideInFromRight forwards;
}

.main_page_info{
    margin: 30px;
    margin-top: 230px;
    font-size: 35px;
    float: left;
    border-radius: 40px 40px 40px 0px;  
    animation: 1s ease-out 3s 1 slideInFromLeft forwards;
    
}

@media only screen and (max-width:1096px) {
    .main_page_reg, .main_page_log, .main_page_info{
        width:80%;
        font-size:20px;
        margin-top: 5px;
    }
}
.main_page_reg>a, .main_page_log>a{
    color:white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.6s;
    display: inline-block;
}

.main_page_reg>a:hover, .main_page_log>a:hover{
    transform: scale(1.2) translateY(-15px);
    color:green;
    text-shadow: 0px 15px 10px white;
    -webkit-text-stroke: 0.5px white;
    border-radius: 15px;
    
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);    
    }
    10% {
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    10% {
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}