nav{
    background-color: #600469;
    height: 100px;
}
.navigation{
    display: inline;
    
}
.option{
    float: left;
    color:aliceblue;
    font-size: 3vh;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: auto;
    margin-top: 25px;
    margin-left: 4%;
}
a{
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    color:whitesmoke;
}
a:visited{
    color:whitesmoke;
}
a:hover{
    color:gray;
}
.friend{
    font-size: 5vh;
}